[submodule "blog"]
	path = blog
	url = git@github.com:utsmannn/blog.git
[submodule "osm-android-compose"]
	path = osm-android-compose
	url = https://github.com/utsmannn/osm-android-compose.git
	branch = gh-pages
[submodule "football-store-api"]
	path = football-store-api
	url = git@github.com:utsmannn/footballstore.git
	branch = gh-pages
[submodule "ppob-fake-api"]
	path = ppob-fake-api
	url = git@github.com:utsmannn/ppob-fake-api.git
	branch = gh-pages
[submodule "kelas"]
	path = kelas
	url = git@github.com:utsmannn/kelas-homepage.git
	branch = gh-pages
[submodule "compose-remote-layout"]
	path = compose-remote-layout
	url = git@github.com:utsmannn/compose-remote-layout.git
	branch = gh-pages
