[submodule "blog"]
	path = blog
	url = git@github.com:utsmannn/blog.git
[submodule "osm-android-compose"]
	path = osm-android-compose
	url = https://github.com/utsmannn/osm-android-compose.git
	branch = gh-pages
